<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yahoo Weather Forecast</title>
</head>
<body>
<strong th:text="|Current Weather Conditions for:
    ${weather.location.city}, ${weather.location.region}, ${weather.location.country}|">Current Weather Conditions for:</strong><br/>
<ul>
    <li th:text="|Temperature: ${weather.condition.temp}|">Temperature: </li>
    <li th:text="|Condition: ${weather.condition.text}|">Condition: </li>
    <li th:text="|Humidity: ${weather.atmosphere.humidity}|">Humidity: </li>
    <li th:text="|Wind: ${weather.wind.chill}|">Wind Chill: </li>
    <li th:text="|Date: ${weather.date}|">Date: </li>
</ul>

</body>
</html>



